:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
}

//primary

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral

$main-background: hsl(217, 54%, 11%);
$card-background: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
